#grid {
  display: flex;
  flex-direction: column;

  font-size: 16px;

  .toolbar,
  .header,
  .row {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .toolbar {
    // border-bottom: .250em solid #e0e0e0;
    margin-bottom: 1em;

    input {
      border: none;
      border-bottom: .125em solid #e0e0e0;
      margin-left: 1em;
      padding-top: .313em;
      padding-bottom: .313em;

      &:focus {
        outline: none;
        border-bottom: .125em solid #c0c0c0;
      }
    }
  }

  .header,
  .row {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-collapse: collapse;
  }

  .header {
    border-bottom: .250em solid #e0e0e0;
  }

  .row {
    border-bottom: .125em solid #e0e0e0;

    &.promotion {}
  }

  .cell {
    // flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    // flex: 1 1 100%;
    padding-right: 1em;
  }

  .row.promotion .cell.title {
    &:after {
      content: '*';
      font-weight: bold;
      color: red;
    }
  }
}

@media all and (min-width: 320px) {
  #grid .row, #grid .header { flex-direction: row; }
  #grid .row .cell, #grid .header .cell { flex: 1 1 50%; }
}

@media all and (min-width: 768px) {
  #grid .row .cell, #grid .header .cell { flex: 1 1 20%; }
  #grid .row .cell.title, #grid .header .cell.title { flex: 1 1 60%; }
}
